.overlay_modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(56, 56, 56, 0.36);
    display: none;
    z-index: 10000;
}

.modal{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 70%;
    border-radius: 10px;
    padding: 30px;
    background-color: #fff;
    transform: translate(-50%, -50%);
}

.btn-close{
    position: absolute;
    top: 20px;
    right: 20px;
}

.show_modal{
    display: block;
}

